html{
    background-color: black;
    color: white;
    font-size: 15pt;
}
h1{
    text-transform: uppercase;
    font-size: 1.8rem;
  }
.meme{
    width: 50%;
    margin-left: 25%;
    margin-top: 30pt;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
.photo{
    border: 5px solid white;
    height: 600px; 
    width: 60%;
}

